* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #252525;
    font-family: Georgia, serif;
    color: #fff;
}

/* PAGE */
.page {
    width: 65%;              
    margin: 0 auto;
    background: #2d2d2d;
    padding-bottom: 20px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3a3a3a;
    padding: 10px 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
width: 137px;
height: 64px; 
margin: -10px;
margin-left: -10px;
    filter: grayscale(100%);

}

/* BAND IMAGE */
.band-photo {
    padding: 20px;             
}

.band-photo img {
    width: 100%;
    max-width: 100%;
    height: 400px;             
    object-fit: cover;
    display: block;
}

/* DESCRIPTION */
.description {
    background: #2b2b2b;
    margin: 0 20px;
    padding: 18px;
}

.description p {
    font-size: 16px;
    line-height: 1.5;
}

/* TRACKS */
.tracks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 30px;
    margin: 25px 40px 0;
}

.track-button {
    display: inline-block;        /* робимо як кнопку */
    background: #cfcfcf;
    color: #000;
    padding: 12px 16px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.track-button:hover {
    background: #e0e0e0;
    transform: scale(1.03);
}