** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #252525;
    font-family: Georgia, serif;
    color: #fff;
}

.page {
    width: 66%;
    margin: 0px auto;
    background: #2d2d2d;
    padding-bottom: 20px;
}

      /* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3a3a3a;
    padding: 10px 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.logo img {
width: 137px;
height: 64px; 
margin: -10px;
    filter: grayscale(100%);
}


.history {
    font-size: 14px;
    letter-spacing: 1px;
}

    /* HERO */
.hero {
    position: relative;
    margin: 20px;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: grayscale(100%);
}

.hero-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 28px;
    text-transform: capitalize;
}

    /* TITLE */
.section-title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
}

    /* ARTISTS */
.artists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0 30px;
}

.artist {
    text-align: center;
}

.artist img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    filter: grayscale(100%);
}

.artist p {
    margin-top: 8px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.artist {
  transition: transform 0.5s ease;
}

.artist:hover {
  transform: scale(1.02);
}

    /* FOOTER */
.footer {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;

}